<%= form_for(@customer_transaction) do |f| %>
  <% if @customer_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_transaction.errors.count, "error") %> prohibited this customer_transaction from being saved:</h2>

      <ul>
      <% @customer_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_time %><br>
    <%= f.datetime_select :transaction_time %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :unique_code %><br>
    <%= f.text_field :unique_code %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :refunded %><br>
    <%= f.check_box :refunded %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
