<p id="notice"><%= notice %></p>

<%= render 'list', customer_transactions: @failed, title: 'Failed Transactions', css_id: 'failed-transactions' %>
<br>

<%= render 'list', customer_transactions: @disputed, title: 'Disputed Transactions', css_id: 'disputed-transactions' %>
<br>

<%= render 'list', customer_transactions: @successful, title: 'Successful Transactions', css_id: 'successful-transactions' %>
<br>

<%= link_to 'New Customer transaction', new_customer_transaction_path %>
