<p id="notice"><%= notice %></p>

<h1>Listing Customer Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transaction time</th>
      <th>Amount</th>
      <th>Unique code</th>
      <th>Paid</th>
      <th>Refunded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_transactions.each do |customer_transaction| %>
      <tr>
        <td><%= customer_transaction.transaction_time %></td>
        <td><%= customer_transaction.amount %></td>
        <td><%= customer_transaction.unique_code %></td>
        <td><%= customer_transaction.paid %></td>
        <td><%= customer_transaction.refunded %></td>
        <td><%= link_to 'Show', customer_transaction %></td>
        <td><%= link_to 'Edit', edit_customer_transaction_path(customer_transaction) %></td>
        <td><%= link_to 'Destroy', customer_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer transaction', new_customer_transaction_path %>
